# : Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
* List popular languages for Data Science
* List popular libraries used by Data Scientist
* Create a table
* Oredered and Unoredered listing

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include: 
1. Scientific computing libraries e.g Pandas
2. Visualization libraries e.g Matplotlib
3. Machine learning libraries e.g Scikit-learn
4. Deep learning libraries e.g TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code|

### H3: Below are  few examples of evaluating arithmetic expressions in Python
1. 2+2
2. 3*7
3. 8/3
4. 9-4

In [1]:
# Execute 
'''
This a simple arithmetic expression to multiply then add integers
'''
(3*4)+5

17

In [3]:
# Execute 
'''
This will convert 200 minutes to hours by diving by 60
'''
200/60

3.3333333333333335

## : Author 
KIIZA NEWTON